<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <target name="logfile" xsi:type="File" 
        fileName="Logs\pgakittracker.log"
        layout="${longdate} ${message} ${exception:format=tostring}"
				keepFileOpen="false"
				archiveFileName="Logs\pgakittracker_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30" />
    <target name="console" xsi:type="Console" layout="${longdate} ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>